body{
    background-color: #8B0000;
    
}

.ff {
    background-color: #DAA520;
    padding-top: 75px;
}

a input{
    background-color: black;
    border: none;
    color: aliceblue;
    height: 35px;
    width: 75px;
    cursor: pointer;

}
label{
   margin: 10px;
}
h4{
   padding: 35px 0 35px 0;
}
table th {
    text-align: left;
}
.blue-box {
    background-color: #4682B4; 
    width: 75px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 35px 5px 5px ;
  }